<!doctype html>
<html data-ng-app="hcApp" data-ng-controller="HcController" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Health Check v{{ selectedVersion }}</title>
    <link rel="stylesheet" href="hc.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="hc.js"></script>
</head>
<body>
    <h2>Spotify's Squad Health Check</h2>
    <div>
        <label data-ng-repeat="(version, details) in versions">
            <input name="version" type="radio" data-ng-model="$parent.selectedVersion" data-ng-value="version">
            v{{ version }} <i>(<a data-ng-href="{{ details.infoUrl }}" target="_blank">info</a>)</i>
            <br/>
        </label>
    </div>

    <h3>Users</h3>
    <div>
        <ul class="unstyled">
            <li data-ng-repeat="user in users | orderBy:'name'">
                {{user.name}}
                <button type="button" data-ng-click="removeUser(user)">del</button>
            </li>
        </ul>
        <form data-ng-submit="addUser()">
            <label for="new-user-textbox">
                <input id="new-user-textbox" type="text" data-ng-model="userText" size="30" placeholder="username">
                <input class="btn-primary" type="submit" value="add">
                <span data-ng-if="warn">{{ warn }}</span>
            </label>
        </form>
        <br>
        <button data-ng-if="users.length >= 2" type="button" data-ng-click="createRandomizedResults()">show randomized cards</button>
    </div>
    <hr>
    <div class="results">
        <div data-ng-repeat="result in results">
            <h3>{{result.user}}</h3>
            <!--<li data-ng-repeat="result in results | orderBy:'user'">-->
            <div class="row">
                <div data-ng-repeat="card in result.cards" class="card">
                    <img data-ng-src="{{ card }}" alt="card">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
